<h1>
    Please enter your venta

</h1>

<form id="form-submit" method="POST">
    {{ form.hidden_tag() }}
    {{ form.client_id.label }}{{ form.client_id() }}
    {{form.wine_id.label}}{{ form.wine_id() }}
    {{ form.quantity.label }} {{ form.quantity() }}
    {{ form.total.label }} {{form.total()}}
    {{form.pay_method.label}} {{ form.pay_method() }}
    {{ form.payment_status.label }} {{form.payment_status()}}
    <input type="submit" id="form-submit" name="form-submit" value="Submit form">
</form>

<h1>
    Please enter your neu wine

</h1>

<form id="form-submit2" method="POST">
    {{ newWine.hidden_tag() }}
    {{ newWine.wine_name.label }}{{ newWine.wine_name() }}
    {{newWine.varietal.label}}{{ newWine.varietal() }}
    {{ newWine.bodega.label }} {{ newWine.bodega() }}
    <input type="submit" id="form-submit2" name="form-submit2" value="Submit form">
</form>
<h1>
    Please enter your neu compra

</h1>

<form id="form-submit3" method="POST">
    {{ newbuy.hidden_tag() }}
    {{ newbuy.wine_id_b.label }}{{ newbuy.wine_id_b() }}
    {{newbuy.proveedor.label}}{{ newbuy.proveedor() }}
    {{ newbuy.quantity_b.label }} {{ newbuy.quantity_b() }}
    <input type="submit" id="form-submit3" name="form-submit3" value="Submit form">
</form>

<form id="form-submit4" method="POST">
    {{ newcli.hidden_tag() }}
    {{ newcli.name.label }}{{ newcli.name() }}
    {{newcli.address.label}}{{ newcli.address() }}
    {{ newcli.phone.label }} {{ newcli.phone() }}
    <input type="submit" id="form-submit4" name="form-submit4" value="Submit form">
</form>



<table>
    <thead >
        <th>ID</th>
        <th>Nombre</th>
        <th>Varietal</th>
        <th>Bodega</th>
        <th>Stock</th>
  
    </thead>
    {% for w,i in inventory_join %}
    <tr>
        <td>{{ w.id}}</td>
        <td>{{ w.name }}</td> 
        <td>{{ w.varietal }}</td> 
        <td>{{ w.bodega }}</td>
        <td>{{ i.quantity }}</td> 
    </tr>
    {% endfor %}
</table>